html{
    font-size: 16px;
}
body{
    background-image: url(img/grey.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}
body, html, .root {
    margin: 0;
    padding: 0;
    height: 100%;
}
a{
    text-decoration: none;
}
.banner{
    background-image: url(img/wizkid3.jpg);
    height: 97%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: auto;
    font-size: 1.2rem;
    font-family: 'Germania One', cursive;
}
.container{
    width: 85%;
    margin: auto;
}

.nav{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.navmenu{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 7em;
}

.navitem{
    color: #e5e5e5;
    font-size: 1em;
}

.brand{
    font-size: 4em;
    margin-right: auto;
    flex-grow: 1;
    color: #e5e5e5;   
}

.navitem:hover{
    color: #f47742;
}

.mobile{
    display: none;
    color: #e5e5e5;
    font-size: 1.3em;
}

/* Adapted from https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements */
.mobile::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 1.4em;  
}

.bars::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9";
    animation: fadeinout 0.5s ease-in-out forwards;
}

/* Adapted from https://www.w3schools.com/css/css3_animations.asp */
@keyframes fadeoutin {
    0%   	{opacity: 1;}
    25%	    {opacity: 0.5;}
    50%  	{opacity: 0.5;}
    100% 	{opacity: 1;}
}

@keyframes fadeinout {
    0%   	{opacity: 0;}
    25%	    {opacity: 0.3;}
    50%  	{opacity: 0.7;}
    100% 	{opacity: 1;}
}

.mobile-menu{
    display: flex;
    height: 0px;
    opacity: 0;
    width: 100%;
    height: 0px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #af5c3993;
    transition: .5s ease;
    position: absolute;
    top: -6em;
}

#toggle-1{
    opacity: 0;
}

.slider{
    height: 20em;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slides{
    /* Adapted from https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ */
    height: 100%;
    width: 100%;   
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slide{
    /* Adapted from https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ */
    width: 100%;
    height: 100%;
    margin: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.slide-content{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-img{
    max-height: 90%;
    border-radius: 20px;
}

.slider-cta{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
}

.cta-info{
    font-family: 'Germania One', cursive;
    font-size: 2em;
    color: #bb1a43;
}

.cta-button{
    cursor: pointer;
    background-color: #516e3a; 
    border-radius: 6px;
    font-size: 1em;
    color: #ffffff;
    width: 100px;
    height: 2.5em;
    margin-top: 10px;
}
.cta-button:hover{  
    background-color: #70a348;
}

.button-holder{
    margin-bottom: 10px;
}

.slider-button{
    display: inline-block;
    height: 0.7em;
    width: 0.7em;
    border-radius: 5px;
    background-color: #bb1a43;
    margin-right: 1em;
}

.slider-button:active{
    background-color: #516e3a;
}

.quad{
    display: flex;
    flex-direction: row;
    height: 570px;
    width: 100%;
}

.quad-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    width: 25%;
    height: 100%;
    margin: 0px;
    font-family: 'Germania One', cursive;
    font-size: 2em;
    position: relative;
}

#quad1{
    background-image: url(img/comecloser.jpg);
}
#quad2{
    background-image: url(img/soco.jpg);
}
#quad3{
    background-image: url(img/energy.jpeg);
}
#quad4{
    background-image: url(img/ojuelegba.png);
}

.song{
    color: #f47742;
    position: absolute;
    z-index: 2;
    order: 1;
    transition: 0.8s ease;
}

/* Overlay effect adapted from https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: 0.8s ease;
    background-color: #516e3a;
    z-index: 1;
}

.quad-item:hover .overlay{
    opacity: 0;
}

.quad-item:hover .song{
    color: #bb1a43;
}

.tour{
    background-image: url(img/tour2.jpg);
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: auto;
    font-size: 1.2rem; 
}

.tour-content{
    width: 50%;
    margin-left: 35px;
    font-family: 'Germania One', cursive;
    color: #e9dbdb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tour-title{
    font-size: 3em;
    color: #fffdfd;
}

.event{
    display: flex;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}

.date{
    width: 25%;
}

.venue{
    width: 55%;
}

.ticket{
    width: 20%;
}

.event > div{
    margin-right: 30px;
}
.venue, .ticket{
    font-family: 'Raleway', sans-serif;
}

.venue div:nth-child(2){
    font-size: 0.7em;
    margin-top: 5px;
}

.button{
    display: inline-block;
    height: 30px;
    width: 100px;
    background: none;
    color: #e9dbdb;
    border: 1px solid #e9dbdb;
    font-size: 0.6em;
}
.button:hover{
    background-color: #492c2ccc;
    color: #e9dbdb;
}
.more-dates{
    font-size: 1.3em;
    color: gold;
}

.footer{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5em;
    font-family: 'Germania One', cursive;
    color: #f47742;
}
.fab{
    margin-right: 10px;
    color: #f47742;
}

.input{
    border: none;
    border-bottom: 2px solid #f47742;
    background: none;
    color: #f47742;
    font-family: 'Germania One', cursive;
    font-size: 0.7em;
}

/* Adapted from https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
.input:focus{
    outline-width: 0;
}

#ftrbtn{
    border: 1px solid #f47742;
    color: grey;
}

#ftrbtn:hover{
    background-color: #f47742a1;
}

.legal{
    display: flex;
    justify-content: center;
    font-size: 0.6em;
}

.legal a{
    color: black;
}

.legal a:hover{
    color:#f47742 
}

/* Adapted from https://www.w3schools.com/howto/howto_css_vertical_line.asp */
.line{
    border-left: 1px solid grey;
    margin-left: 15px;
    margin-right: 15px;
}


@media only screen and (max-width: 640px) {
    .banner{
        background-image: url(img/banner2.jpeg);
        color: #c0c0c0;
    }

    .container{
        width: 100%;
    }

    .navmenu{
        display: none;
    }

    .mobile{
        display: inline;
    }

    .brand{
        margin-left: 15px; 
    }
    
    /*Adapted from https://css-tricks.com/the-checkbox-hack/*/
    input[type=checkbox]:checked ~ div {
        height: 300px;
        opacity: 1;
        top: 6em;
    }

    input[type=checkbox]:checked ~ .bars::before{
        animation: fadeoutin 0.5s ease-in-out forwards;
        content: "\f00d";    
    }

    .slider{
        height: 70%;
    }

    .slide-content{
        flex-direction: column;
    }

    .slider-img{
        max-height: 50%;
    }

    .slider-cta{
        margin-left: 0px;
        align-items: center;
    }

    .quad{
        display: inline-block;
        min-height: 100%;
    }
    .quad-item{
        width: 100%;
        min-height: 80%;
    }

    .tour{
        overflow-x: hidden;
    }
    .tour-content{
        width: 100%;
        margin-left: 15px;
        align-items: center;
    }

    .date{
        width: 20%;
    }
    .venue{
        width: 50%;
    }
    .ticket{
        width: 30%;
    }
    .button{
        height: 60px;
        width: 70px;
    }
    
    .social{
        flex-direction: column;
    }

    .social > div > p{
        margin-bottom: 10px;
    }

    .join{
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .legal{
        margin-top: 15px;
    }
}