html{
    font-size: 16px;
}
body{
    background-image: url(img/grey.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}
body, html, .root {
    margin: 0;
    padding: 0;
    height: 100%;
}
a{
    text-decoration: none;
}
.banner{
    background-image: url(img/wizkid3.jpg);
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: auto;
    font-size: 1.2rem;
    font-family: 'Germania One', cursive;
}
.container{
    width: 85%;
    margin: auto;
}
.brand{
    font-size: 4em;
    margin-right: auto;
    flex-grow: 1;
    color: #e5e5e5;   
}

.navitem{
    color: #e5e5e5;
    font-size: 1em;
}

.navitem:hover{
    color: #f47742;
}

.nav{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navmenu{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 7em;
}

.slide-wrapper{
    height: 20em;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.slider{
    /* Adapted from https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ */
    height: 100%;
    width: 100%;   
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.slide{
    /* Adapted from https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ */
    width: 100%;
    height: 100%;
    margin: auto;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
}

.slide-content{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-cta{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.cta-info{
    font-family: 'Germania One', cursive;
    font-size: 2em;
    color: #bb1a43;
}

.cta-button{
    cursor: pointer;
    background-color: #516e3a; 
    border-radius: 6px;
    font-size: 1em;
    color: #ffffff;
    width: 40%;
    height: 2.5em;
    margin-top: 1em
}
.cta-button:hover{  
    background-color: #70a348;
}
.slider-img{
    max-height: 90%;
    border-radius: 20px;
}
.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #bb1a43;
}

.slider-button:active{
    background-color: #516e3a;
}
.button-holder{
    margin-bottom: 10px;
}

.quad{
    display: flex;
    height: 570px;
    width: 100%;
}

.quad-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    width: 25%;
    margin: 0px;
    font-family: 'Germania One', cursive;
    font-size: 2em;
    position: relative;
}

#quad1{
    background-image: url(img/comecloser2.jpg);
}
#quad2{
    background-image: url(img/soco.jpg);
}
#quad3{
    background-image: url(img/energy.jpeg);
}
#quad4{
    background-image: url(img/ojuelegba.png);
}

/* Overlay effect adapted from https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: .5s ease;
    background-color: #516e3a;
    z-index: 1;
}

.song{
    color: #f47742;
    position: absolute;
    z-index: 2;
    order: 1;
    transition: .5s ease;
}

.quad-item:hover .overlay{
    opacity: 0;
}

.quad-item:hover .song{
    color: #bb1a43;
}

.tour{
    background-image: url(img/tour2.jpg);
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: auto;
    font-size: 1.2rem; 
}

.tour-content{
    width: 50%;
    margin-left: 35px;
    font-family: 'Germania One', cursive;
    color: #e9dbdb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tour-title{
    font-size: 3em;
    color: #fffdfd;
}

.event{
    display: flex;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}
.event > div{
    margin-right: 30px;
}
.date{
    width: 25%;
}
.venue{
    width: 55%;
}
.ticket{
    width: 20%;
}
.venue, .ticket{
    font-family: 'Raleway', sans-serif;
}

.venue div:nth-child(2){
    font-size: 0.7em;
    margin-top: 5px;
}

.ticket button{
    display: inline-block;
    height: 70%;
    width: 100px;
    background: none;
    color: #e9dbdb;
    border: 1px solid #e9dbdb;
    font-size: 0.6em;
}
.ticket button:hover{
    background-color: #492c2ccc;
    color: #e9dbdb;
}
.more-dates{
    font-size: 1.3em;
    color: gold;
}